<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Recipe1</key>
	<dict>
		<key>RecipeName</key>
		<string>Green Kale</string>
		<key>ShortDescription</key>
		<string>A creamy yet refreshing green smoothie that will keep you energized for hours</string>
		<key>LongDescription</key>
		<array>
			<string>A creamy yet refreshing green smoothie that will keep you energized for hours.</string>
			<string>This is the perfect smoothie before or after a workout.</string>
			<string>Kale and other leafy greens contains antioxidants and has alkalising and anti-inflammatory qualities.</string>
			<string>Add a teaspoon of wheatgrass for an extra nutrition boost.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mix all the ingredients in a blender on high speed until smooth</string>
		</array>
	</dict>
</dict>
</plist>
