<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dl</key>
	<dict>
		<key>en</key>
		<string>dl</string>
		<key>sv</key>
		<string>dl</string>
	</dict>
	<key>cm</key>
	<dict>
		<key>en</key>
		<string>cm</string>
		<key>sv</key>
		<string>cm</string>
	</dict>
	<key>sprig</key>
	<dict>
		<key>en</key>
		<string>sprig</string>
		<key>sv</key>
		<string>kvist</string>
	</dict>
	<key>tbsp</key>
	<dict>
		<key>en</key>
		<string>tbsp</string>
		<key>sv</key>
		<string>msk</string>
	</dict>
	<key>tsp</key>
	<dict>
		<key>en</key>
		<string>tsp</string>
		<key>sv</key>
		<string>tsk</string>
	</dict>
	<key>pinch</key>
	<dict>
		<key>en</key>
		<string>dl</string>
		<key>sv</key>
		<string>dl</string>
	</dict>
	<key>g</key>
	<dict>
		<key>en</key>
		<string>g</string>
		<key>sv</key>
		<string>g</string>
	</dict>
	<key>cup</key>
	<dict>
		<key>en</key>
		<string>cup</string>
		<key>sv</key>
		<string>cup</string>
	</dict>
	<key>inches</key>
	<dict>
		<key>en</key>
		<string>inches</string>
		<key>sv</key>
		<string>tum</string>
	</dict>
</dict>
</plist>
