<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dl</key>
	<dict>
		<key>en</key>
		<string>dl</string>
		<key>sv</key>
		<string>dl</string>
		<key>da</key>
		<string>dl</string>
		<key>no</key>
		<string>dl</string>
		<key>de</key>
		<string>dl</string>
	</dict>
	<key>cm</key>
	<dict>
		<key>en</key>
		<string>cm</string>
		<key>sv</key>
		<string>cm</string>
		<key>da</key>
		<string>cm</string>
		<key>no</key>
		<string>cm</string>
		<key>de</key>
		<string>cm</string>
	</dict>
	<key>sprig</key>
	<dict>
		<key>en</key>
		<string>sprig</string>
		<key>sv</key>
		<string>kvist</string>
		<key>da</key>
		<string>gren</string>
		<key>no</key>
		<string>gren</string>
		<key>de</key>
		<string>zweig</string>
	</dict>
	<key>tbsp</key>
	<dict>
		<key>en</key>
		<string>tbsp</string>
		<key>sv</key>
		<string>msk</string>
		<key>da</key>
		<string>spsk</string>
		<key>no</key>
		<string>ss</string>
		<key>de</key>
		<string>essl</string>
	</dict>
	<key>tsp</key>
	<dict>
		<key>en</key>
		<string>tsp</string>
		<key>sv</key>
		<string>tsk</string>
		<key>da</key>
		<string>tsk</string>
		<key>no</key>
		<string>ts</string>
		<key>de</key>
		<string>teel</string>
	</dict>
	<key>pinch</key>
	<dict>
		<key>en</key>
		<string>pinch</string>
		<key>sv</key>
		<string>nypa</string>
		<key>da</key>
		<string>knivspids</string>
		<key>no</key>
		<string>klype</string>
		<key>de</key>
		<string>kneifen</string>
	</dict>
	<key>g</key>
	<dict>
		<key>en</key>
		<string>g</string>
		<key>sv</key>
		<string>g</string>
		<key>da</key>
		<string>g</string>
		<key>no</key>
		<string>g</string>
		<key>de</key>
		<string>g</string>
	</dict>
	<key>cup</key>
	<dict>
		<key>en</key>
		<string>cup</string>
		<key>sv</key>
		<string>cup</string>
		<key>da</key>
		<string>cup</string>
		<key>no</key>
		<string>cup</string>
		<key>de</key>
		<string>cup</string>
	</dict>
	<key>inches</key>
	<dict>
		<key>en</key>
		<string>inches</string>
		<key>sv</key>
		<string>tum</string>
		<key>da</key>
		<string>inches</string>
		<key>no</key>
		<string>inches</string>
		<key>de</key>
		<string>inches</string>
	</dict>
	<key>leaf</key>
	<dict>
		<key>en</key>
		<string>leaf</string>
		<key>sv</key>
		<string>blad</string>
		<key>da</key>
		<string>blad</string>
		<key>no</key>
		<string>blad</string>
		<key>de</key>
		<string>blatt</string>
	</dict>
	<key>litre</key>
	<dict>
		<key>en</key>
		<string>l</string>
		<key>sv</key>
		<string>l</string>
		<key>da</key>
		<string>l</string>
		<key>no</key>
		<string>l</string>
		<key>de</key>
		<string>l</string>
	</dict>
</dict>
</plist>
