<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Orange</key>
	<dict>
		<key>Unit</key>
		<string>Piece</string>
		<key>Fiber</key>
		<dict>
			<key>Unit</key>
			<string>g</string>
			<key>Measure</key>
			<string>3.0</string>
			<key>Type</key>
			<string>Proximate</string>
		</dict>
		<key>Carbohydrate</key>
		<dict>
			<key>Unit</key>
			<string>g</string>
			<key>Measure</key>
			<string>14.39</string>
			<key>Type</key>
			<string>Proximate</string>
		</dict>
		<key>Fat</key>
		<dict>
			<key>Unit</key>
			<string>g</string>
			<key>Measure</key>
			<string>0.36</string>
			<key>Type</key>
			<string>Proximate</string>
		</dict>
		<key>Protein</key>
		<dict>
			<key>Unit</key>
			<string>g</string>
			<key>Measure</key>
			<string>1.26</string>
			<key>Type</key>
			<string>Proximate</string>
		</dict>
		<key>Energy</key>
		<dict>
			<key>Unit</key>
			<string>Kcal</string>
			<key>Measure</key>
			<string>59</string>
			<key>Type</key>
			<string>Proximate</string>
		</dict>
		<key>Iron, Fe</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>0.11</string>
			<key>Type</key>
			<string>Mineral</string>
		</dict>
		<key>Calcium, Ca</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>48</string>
			<key>Type</key>
			<string>Mineral</string>
		</dict>
		<key>Magnesium, Mg</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>12</string>
			<key>Type</key>
			<string>Mineral</string>
		</dict>
		<key>Phosphorus, P</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>21</string>
			<key>Type</key>
			<string>Mineral</string>
		</dict>
		<key>Potassium, K</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>217</string>
			<key>Type</key>
			<string>Mineral</string>
		</dict>
		<key>Sodium, Na</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>0</string>
			<key>Type</key>
			<string>Mineral</string>
		</dict>
		<key>Zinc, Zn</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>0.07</string>
			<key>Type</key>
			<string>Mineral</string>
		</dict>
		<key>Vitamin C</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>58,7</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Thiamin</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>0.105</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Riboflavin</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>0.048</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Niacin</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>0.332</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Vitamin B-6</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>0.076</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Folate, DFE</key>
		<dict>
			<key>Unit</key>
			<string>µg</string>
			<key>Measure</key>
			<string>47</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Vitamin B-12</key>
		<dict>
			<key>Unit</key>
			<string>µg</string>
			<key>Measure</key>
			<string>0</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Vitamin A, RAE</key>
		<dict>
			<key>Unit</key>
			<string>µg</string>
			<key>Measure</key>
			<string>15</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Vitamin A, IU	</key>
		<dict>
			<key>Unit</key>
			<string>IU</string>
			<key>Measure</key>
			<string>278</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Vitamin D (D2 + D3)</key>
		<dict>
			<key>Unit</key>
			<string>µg</string>
			<key>Measure</key>
			<string>0</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Vitamin D</key>
		<dict>
			<key>Unit</key>
			<string>IU</string>
			<key>Measure</key>
			<string>0</string>
			<key>Type</key>
			<string>Vitamin</string>
		</dict>
		<key>Fatty acids, total saturated</key>
		<dict>
			<key>Unit</key>
			<string>g</string>
			<key>Measure</key>
			<string>0.042</string>
			<key>Type</key>
			<string>Fat</string>
		</dict>
		<key>Fatty acids, total monounsaturated</key>
		<dict>
			<key>Unit</key>
			<string>g</string>
			<key>Measure</key>
			<string>0.067</string>
			<key>Type</key>
			<string>Fat</string>
		</dict>
		<key>Fatty acids, total polyunsaturated</key>
		<dict>
			<key>Unit</key>
			<string>g</string>
			<key>Measure</key>
			<string>0.073</string>
			<key>Type</key>
			<string>Fat</string>
		</dict>
		<key>Fatty acids, total trans</key>
		<dict>
			<key>Unit</key>
			<string>g</string>
			<key>Measure</key>
			<string>0</string>
			<key>Type</key>
			<string>Fat</string>
		</dict>
		<key>Cholesterol</key>
		<dict>
			<key>Unit</key>
			<string>mg</string>
			<key>Measure</key>
			<string>0</string>
			<key>Type</key>
			<string>Fat</string>
		</dict>
	</dict>
</dict>
</plist>
