<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Recipe1</key>
	<dict>
		<key>Ingredients</key>
		<dict>
			<key>Banana</key>
			<dict>
				<key>Quantity</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Banana</string>
				<key>Measurement</key>
				<string></string>
				<key>Optional</key>
				<false/>
			</dict>
			<key>Frozen Mango</key>
			<dict>
				<key>Quantity</key>
				<integer>2</integer>
				<key>Type</key>
				<string>Frozen Mango</string>
				<key>Measurement</key>
				<string>dl</string>
				<key>Optional</key>
				<false/>
			</dict>
			<key>Kale</key>
			<dict>
				<key>Quantity</key>
				<integer>1</integer>
				<key>Type</key>
				<string>Kale</string>
				<key>Measurement</key>
				<string>leaf</string>
				<key>Optional</key>
				<false/>
			</dict>
			<key>Coconut Oil</key>
			<dict>
				<key>Quantity</key>
				<integer>2</integer>
				<key>Type</key>
				<string>Coconut Oil</string>
				<key>Measurement</key>
				<string>tsp</string>
				<key>Optional</key>
				<false/>
			</dict>
			<key>Almond Milk</key>
			<dict>
				<key>Quantity</key>
				<real>1.5</real>
				<key>Type</key>
				<string>Almond Milk</string>
				<key>Measurement</key>
				<string>dl</string>
				<key>Optional</key>
				<false/>
			</dict>
			<key>Wheatgrass</key>
			<dict>
				<key>Quantity</key>
				<integer>1</integer>
				<key>Type</key>
				<string>wheatgrass</string>
				<key>Measurement</key>
				<string>tsp</string>
				<key>Optional</key>
				<true/>
			</dict>
		</dict>
		<key>RecipeCategory</key>
		<integer>0</integer>
		<key>RecipeType</key>
		<integer>1</integer>
		<key>Sorting</key>
		<integer>0</integer>
		<key>ImageName</key>
		<string>Green Coco Kale</string>
	</dict>
</dict>
</plist>
