<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fiber</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>25</string>
		<key>Unit</key>
		<string>g</string>
		<key>Type</key>
		<string>Proximate</string>
	</dict>
	<key>Carbohydrate</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>300</string>
		<key>Unit</key>
		<string>g</string>
		<key>Type</key>
		<string>Proximate</string>
	</dict>
	<key>Fat</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>65</string>
		<key>Unit</key>
		<string>g</string>
		<key>Type</key>
		<string>Proximate</string>
	</dict>
	<key>Protein</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>50</string>
		<key>Unit</key>
		<string>g</string>
		<key>Type</key>
		<string>Proximate</string>
	</dict>
	<key>Energy</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>2000</string>
		<key>Unit</key>
		<string>Kcal</string>
		<key>Type</key>
		<string>Proximate</string>
	</dict>
	<key>Iron, Fe</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>18</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Mineral</string>
	</dict>
	<key>Calcium, Ca</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>1000</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Mineral</string>
	</dict>
	<key>Magnesium, Mg</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>400</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Mineral</string>
	</dict>
	<key>Phosphorus, P</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>1000</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Mineral</string>
	</dict>
	<key>Potassium, K</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>3500</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Mineral</string>
	</dict>
	<key>Sodium, Na</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>2400</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Mineral</string>
	</dict>
	<key>Zinc, Zn</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>15</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Mineral</string>
	</dict>
	<key>Vitamin C</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>80</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Thiamin</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>1.5</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Riboflavin</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>1.7</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Niacin</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>20</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Vitamin B-6</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>2</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Folate, DFE</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>400</string>
		<key>Unit</key>
		<string>µg</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Vitamin B-12</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>6</string>
		<key>Unit</key>
		<string>µg</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Vitamin A, RAE</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>900</string>
		<key>Unit</key>
		<string>µg</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Vitamin A, IU	</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>5000</string>
		<key>Unit</key>
		<string>IU</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Vitamin D</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>400</string>
		<key>Unit</key>
		<string>IU</string>
		<key>Type</key>
		<string>Vitamin</string>
	</dict>
	<key>Fatty acids, total saturated</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>20</string>
		<key>Unit</key>
		<string>g</string>
		<key>Type</key>
		<string>Fat</string>
	</dict>
	<key>Cholesterol</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>300</string>
		<key>Unit</key>
		<string>mg</string>
		<key>Type</key>
		<string>Fat</string>
	</dict>
	<key>Sugar</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>90</string>
		<key>Unit</key>
		<string>g</string>
		<key>Type</key>
		<string>Proximates</string>
	</dict>
	<key>Vitamin K</key>
	<dict>
		<key>DailyRecommendation</key>
		<string>80</string>
		<key>Unit</key>
		<string>µg</string>
		<key>Type</key>
		<string>Vitamins</string>
	</dict>
</dict>
</plist>
