<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Nutrition_swedish.plist
   Smoothie Box

   Created by Jonas C Björkell on 2016-02-10.
   Copyright (c) 2016 Jonas C Björkell. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
