<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Language</key>
	<string>sv</string>
	<key>Recipe1</key>
	<dict>
		<key>RecipeName</key>
		<string>Green kale</string>
		<key>ShortDescription</key>
		<string>En krämig och uppfriskande grön smoothie som passar perfekt före eller efter ett träningspass</string>
		<key>LongDescription</key>
		<array>
			<string>En krämig och uppfriskande grön smoothie som passar perfekt före eller efter ett träningspass.</string>
			<string>Grönkål och andra mörkgröna bladgrönsaker har alkaliserande egenskaper, är rika på antioxidanter och verkar antiinflammatoriskt.</string>
			<string>Lägg till vetegräs för extra mycket näring.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe2</key>
	<dict>
		<key>RecipeName</key>
		<string>Green rawgurt</string>
		<key>ShortDescription</key>
		<string>Ett grönt alternativ till traditionell yoghurt
</string>
		<key>LongDescription</key>
		<array>
			<string>Ett grönt alternativ till traditionell yoghurt.</string>
			<string>Servera i en skål till frukost och toppa med färska bär, frukter, nötter och frön.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
			<string>Tillsätt en skvätt vatten om de frysta ingredienserna inte mixas.</string>
		</array>
	</dict>
	<key>Recipe3</key>
	<dict>
		<key>RecipeName</key>
		<string>Veggie detox</string>
		<key>ShortDescription</key>
		<string>Med den här gröna smoothien täcks en stor del av det dagliga grönsaksbehovet</string>
		<key>LongDescription</key>
		<array>
			<string>Genom att dricka en grön smoothie som den här täcks en stor del av det dagliga grönsaksbehovet. Kroppen har dessutom lättare att ta upp näringen från grönsaker i mixad form.</string>
			<string>Tillsätt en kvist persilja för extra järn och smak. </string>
			<string>För en fruktig och söt smak kan avokadon bytas ut mot samma mängd mango.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Pressa citron till juice.</string>
			<string>Hacka äpple och ta bort kärnhus.</string>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe4</key>
	<dict>
		<key>RecipeName</key>
		<string>Green machine</string>
		<key>ShortDescription</key>
		<string>Att tillsätta gröna blad i smoothien är ett enkelt sätt att öka det dagliga intaget av grönsaker</string>
		<key>LongDescription</key>
		<array>
			<string>Att tillsätta gröna blad i smoothien är ett enkelt sätt att öka det dagliga intaget av grönsaker. </string>
			<string>Mörkgröna blad är bra källor till vitaminer ( A, C, K och folat) och mineraler (som järn och kalcium).</string>
			<string>Boosta med spirulina för extra mycket näring.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Pressa apelsin och lime till juice.</string>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe5</key>
	<dict>
		<key>RecipeName</key>
		<string>Orange is the new black</string>
		<key>ShortDescription</key>
		<string>Det här är en riktig vitaminbomb som hjälper till att hålla förkylningar borta</string>
		<key>LongDescription</key>
		<array>
			<string>Det här är en riktig vitaminbomb som hjälper till att hålla förkylningar borta.</string>
			<string>Ingefäran tillför en aning hetta till smaken och har dessutom anti-inflammatoriska egenskaper.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Använd en råsaftcentrifug till morot, apelsin, citron och ingefära.</string>
			<string>Mixa juicen med mango på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe6</key>
	<dict>
		<key>RecipeName</key>
		<string>Nordic berries</string>
		<key>ShortDescription</key>
		<string>Nordiska bär är våra egna superbär som innehåller rikligt med näring och antioxidanter</string>
		<key>LongDescription</key>
		<array>
			<string>Nordiska bär är våra egna superbär som innehåller rikligt med näring och antioxidanter. </string>
			<string>Experimentera gärna med andra nordiska bär som röda eller svarta vinbär, hallon eller smultron. Byt bara ut ett bär i receptet mot det som finns i kylen, frysen eller i trädgården.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe7</key>
	<dict>
		<key>RecipeName</key>
		<string>Chocolate and raspberry shake</string>
		<key>ShortDescription</key>
		<string>Perfekt när du vill ha något sött men fortfarande vara hälsosam</string>
		<key>LongDescription</key>
		<array>
			<string>Choklad och hallon är en oslagbar kombination. Rå kakao innehåller dessutom rikligt med antioxidanter vilket gör den här smoothien perfekt när du är sugen på något sött och behöver energi men fortfarande vill vara nyttig.</string>
			<string>Boosta med maccapulver som verkar uppiggande och ökar koncentrationsförmågan.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe8</key>
	<dict>
		<key>RecipeName</key>
		<string>Blueberry pie</string>
		<key>ShortDescription</key>
		<string>Den här antioxidantrika smoothien smakar som blåbärspaj och ger rikligt med energi och näring</string>
		<key>LongDescription</key>
		<array>
			<string>Den här antioxidantrika smoothien smakar som blåbärspaj och ger rikligt med energi och näring.</string>
			<string>Boosta med chiafrön för extra fibrer och nyttiga fetter som gör att du håller dig mätt länge.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe9</key>
	<dict>
		<key>RecipeName</key>
		<string>Peanut butter and jelly</string>
		<key>ShortDescription</key>
		<string>En proteinrik och matig smoothie som serveras med frisk hallonsås
</string>
		<key>LongDescription</key>
		<array>
			<string>Den här krämiga och proteinrika smoothien är perfekt efter träningen eller på morgonen när man behöver tillföra kroppen lite extra energi och näring.</string>
			<string>Den syrliga hallonsåsen kompletterar den krämiga smoothien perfekt. </string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa hallon med honung och häll upp hallonsåsen i ett glas.</string>
			<string>Mixa resterande ingredienser på hög hastighet till krämig konsistens.</string>
			<string>Häll smoothien försiktigt över hallonsåsen över ett vinklat glas.</string>
		</array>
	</dict>
	<key>Recipe10</key>
	<dict>
		<key>RecipeName</key>
		<string>Unbeetable</string>
		<key>ShortDescription</key>
		<string>Rödbetor är kända för sina anti-inflammatoriska och detoxande egenskaper</string>
		<key>LongDescription</key>
		<array>
			<string>Rödbetor är kända för sina anti-inflammatoriska och detoxande egenskaper och smakar fantastiskt tillsammans med det syrliga äpplet och citronen i den här rubinröda smoothien.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Använd en råsaftcentrifug till rödbeta, äpple och citron.</string>
			<string>Mixa juicen med hallon, jordgubbar och banan på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe11</key>
	<dict>
		<key>RecipeName</key>
		<string>Raspberry kick</string>
		<key>ShortDescription</key>
		<string>En riktig vitaminkick med en frisk och somrig smak
</string>
		<key>LongDescription</key>
		<array>
			<string>Det här är en riktig vitaminkick med en frisk och somrig smak. Drick den en varm och solig sommardag eller helt enkelt när du behöver lite extra energi. </string>
			<string>För att variera smaken kan myntan ersättas med ingefära.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Pressa apelsin och lime till juice.</string>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe12</key>
	<dict>
		<key>RecipeName</key>
		<string>Blue belly bliss</string>
		<key>ShortDescription</key>
		<string>Den här mörkblåa smoothien är magens bästa vän
</string>
		<key>LongDescription</key>
		<array>
			<string>Den här mörkblåa smoothien är magens bästa vän och kan med fördel drickas till frukost eller mellan måltider.</string>
			<string>Psylliumfrön innehåller mängder av vattenlösliga fibrer som tillsammans med plommonen får magen att arbeta. </string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe13</key>
	<dict>
		<key>RecipeName</key>
		<string>Layered blueberry and chia smoothie</string>
		<key>ShortDescription</key>
		<string>En blåbärs- och chiasmoothie fylld med vitaminer, antioxidanter, fibrer och nyttiga fetter</string>
		<key>LongDescription</key>
		<array>
			<string>Den här blåbärs- och chiasmoothien är den perfekta frukosten. Med vitaminer, antioxidanter, fibrer och nyttiga fetter ger den en perfekt start på dagen.</string>
			<string>Blötlägg chiafrön i mandelmjölk kvällen innan och förvara i kylskåpet så sparar du värdefull tid på morgonen.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Blötlägg chiafrön i mandelmjölk. Blanda noggrant med handvisp eller med sked. Låt stå i tio minuter och blanda igen så att inga klumpar kvarstår.</string>
			<string>Tillsätt eventuellt mer chiafrön eller mandelmjölk. Chiapuddingen ska inte vara för rinnig.</string>
			<string>Efter ytterligare 10 minuter är chiapuddingen klar men den går också att förbereda redan kvällen innan och förvara i kylen.</string>
			<string>Mixa banan, hallon, blåbär, mandelmjölk och honung på hög hastighet till krämig konsistens.</string>
			<string>Varva chiapuddingen med blåbärssmoothien i en skål eller i ett glas.</string>
			<string>Toppa med dina favoritfrukter och bär. Ät med sked.</string>
		</array>
	</dict>
	<key>Recipe14</key>
	<dict>
		<key>RecipeName</key>
		<string>Passion for chia</string>
		<key>ShortDescription</key>
		<string>En söt och fruktig smoothie som varvas med krämig chiapudding och syrlig passionsfrukt </string>
		<key>LongDescription</key>
		<array>
			<string>En söt och fruktig smoothie som varvas med krämig chiapudding och syrlig passionsfrukt.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Blötlägg chiafrön i mandelmjölk. Blanda noggrant med handvisp eller med sked. Låt stå i tio minuter och blanda igen så att inga klumpar kvarstår.</string>
			<string>Tillsätt eventuellt mer chiafrön eller mandelmjölk. Chiapuddingen ska inte vara för rinnig.</string>
			<string>Efter ytterligare 10 minuter är chiapuddingen klar men den går också att förbereda redan kvällen innan och förvara i kylen.</string>
			<string>Mixa banan, mango, hallon, mandelmjölk och honung på hög hastighet till krämig konsistens.</string>
			<string>Varva chiapudding med passionsfrukt och smoothie i en skål eller i ett glas.</string>
			<string>Toppa med dina favoritfrukter och bär. Ät med sked.</string>
		</array>
	</dict>
	<key>Recipe15</key>
	<dict>
		<key>RecipeName</key>
		<string>Strawberry nicecream with a raspberry swirl</string>
		<key>ShortDescription</key>
		<string>En krämig och söt smoothie som är omöjlig att sluta äta - precis som glass</string>
		<key>LongDescription</key>
		<array>
			<string>En krämig och söt smoothie som är omöjlig att sluta äta - precis som glass.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa hallon och honung till en hallonsås.</string>
			<string>Mixa bananer, jordgubbar och kokosmjölk på hög hastighet till krämig och tjock konsistens.</string>
			<string>Häll jordgubbssmoothien över hallonsåsen i ett glas. Dra en sked från botten av glaset och uppåt i cirklar för att skapa en vacker virvel.</string>
		</array>
	</dict>
	<key>Recipe16</key>
	<dict>
		<key>RecipeName</key>
		<string>Mango and grapefruit detox</string>
		<key>ShortDescription</key>
		<string>Boostar både metabolismen och immunförsvaret</string>
		<key>LongDescription</key>
		<array>
			<string>En frisk smoothie som boostar både metabolismen och immunförsvaret.</string>
			<string>Grapefruktens syrliga och beska toner gifter sig fint med de sötare frukterna och skapar en spännande och mer vuxen smak.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Pressa apelsin och grapefrukt till juice.</string>
			<string>Mixa juicen med mango och honung på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe17</key>
	<dict>
		<key>RecipeName</key>
		<string>Mango rosehip</string>
		<key>ShortDescription</key>
		<string>En krämig och frisk smoothie packad med C-vitamin
</string>
		<key>LongDescription</key>
		<array>
			<string>Det här är en krämig och frisk smoothie packad med C-vitamin.</string>
			<string>Nypon har en frisk och syrlig smak som passar utmärkt med sötman i bananen och mangon. </string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Pressa apelsin till juice.</string>
			<string>Mixa på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe18</key>
	<dict>
		<key>RecipeName</key>
		<string>Valentine</string>
		<key>ShortDescription</key>
		<string>Stärk immunförsvaret och tillför kroppen massor med näring, energi och vitaminer med den här söt-syrliga smoothien</string>
		<key>LongDescription</key>
		<array>
			<string>Stärk immunförsvaret och tillför kroppen massor med näring, energi och vitaminer med den här söt-syrliga smoothien.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
	<key>Recipe19</key>
	<dict>
		<key>RecipeName</key>
		<string>Sweet raspberry pie</string>
		<key>ShortDescription</key>
		<string>Rik på proteiner, vitaminer och nyttiga fetter
</string>
		<key>LongDescription</key>
		<array>
			<string>Kanel är känt för sina hälsofrämjande egenskaper. Kryddan verkar exempelvis blodtryckssänkande och har antibakteriella egenskaper.</string>
			<string>Smoothien är dessutom rik på proteiner, vitaminer och nyttiga fetter som gör att du håller dig mätt länge.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa mango och honung till en mangosås.</string>
			<string>Mixa alla övriga ingredienser på hög hastighet till krämig konsistens.</string>
			<string>Häll smoothien försiktigt över mangosåsen i ett lutat glas och drick direkt.</string>
		</array>
	</dict>
	<key>Recipe20</key>
	<dict>
		<key>RecipeName</key>
		<string>Cashew and raspberry smoothie</string>
		<key>ShortDescription</key>
		<string>Perfekt som återhämtning efter träningen eller som en mättande och lyxig frukost</string>
		<key>LongDescription</key>
		<array>
			<string>Perfekt som återhämtning efter träningen eller som en mättande och lyxig frukost. </string>
			<string>Se till att göra lite extra chiasylt när du ändå är igång och ät till pannkakor, gröt eller på en toast.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa hallon och tillsätt sedan chiafrön och honung. Blanda och låt sylten stå svalt i ca 15 minuter.</string>
			<string>Mixa övriga ingredienser på hög hastighet till krämig konsistens.</string>
			<string>Fyll glaset till hälften med smoothien.</string>
			<string>Lägg ett lager av chia- och hallonsylt och häll försiktigt upp resten av smoothien.</string>
			<string>Drick med sugrör eller ät med sked.</string>
		</array>
	</dict>
	<key>Recipe21</key>
	<dict>
		<key>RecipeName</key>
		<string>Tropical passion</string>
		<key>ShortDescription</key>
		<string>En tropisk gul smoothie full av vitaminer och mineraler som när hår, hud och naglar</string>
		<key>LongDescription</key>
		<array>
			<string>En tropisk gul smoothie full av vitaminer och mineraler som när hår, hud och naglar. </string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Gröp ur passionsfrukten i ett glas.</string>
			<string>Mixa övriga ingredienser på hög hastighet till krämig konsistens.</string>
			<string>Häll smoothien över passionsfrukten.</string>
		</array>
	</dict>
	<key>Recipe22</key>
	<dict>
		<key>RecipeName</key>
		<string>Acai bowl</string>
		<key>ShortDescription</key>
		<string>Acai bowls är både goda och fyllda med vitaminer och antioxidanter</string>
		<key>LongDescription</key>
		<array>
			<string>Acai bowls är både goda och fyllda med vitaminer och antioxidanter. </string>
			<string>Mycket av det roliga med smoothie bowls ligger i toppingen där valmöjligheterna är oändliga. Experimentera med nötsmör, frön, färska bär och frukter.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Låt den frusna bananen ligga i rumstemperatur i några minuter.</string>
			<string>Mixa alla ingredienser på hög hastighet till krämig och tjock konsistens. </string>
			<string>Servera med valfri topping.</string>
		</array>
	</dict>
	<key>Recipe23</key>
	<dict>
		<key>RecipeName</key>
		<string>Raspberry and coconut smoothie</string>
		<key>ShortDescription</key>
		<string>En uppfriskande och krämig smoothie som tillfredsställer sötsuget på ett nyttigt sätt</string>
		<key>LongDescription</key>
		<array>
			<string>En uppfriskande och krämig smoothie som tillfredsställer ditt sötsug på ett nyttigt sätt.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Pressa apelsin till juice.</string>
			<string>Mixa alla ingredienser på hög hastighet till krämig och tjock konsistens. </string>
			<string>Toppa med färska hallon och rostade kokosflingor.</string>
		</array>
	</dict>
	<key>Recipe24</key>
	<dict>
		<key>RecipeName</key>
		<string>Almond milk</string>
		<key>ShortDescription</key>
		<string>Egengjord nötmjölk är fantastiskt god och utgör en perfekt vätskebas i smoothies</string>
		<key>LongDescription</key>
		<array>
			<string>Egengjord nötmjölk är fantastiskt god och utgör en perfekt vätskebas i smoothies. Den är lätt att göra och kan förvaras i kylskåpet i upp till 3-4 dagar.</string>
			<string>Spara nötmassan som blir över och använd i en rawfood-dessert. </string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Lägg mandlarna i blöt och förvara dem svalt i 12-48 timmar. Ju längre mandlarna ligger i vattenbadet desto krämigare blir mjölken.</string>
			<string>Häll av vattnet och skölj mandlarna innan du mixar dem tillsammans med en liter färskt kallt vatten, dadlar och vaniljpulver på hög hastighet i 2-3 minuter.</string>
			<string>Sila mjölken genom en kökshandduk eller en nötmjölkspåse. Pressa ut så mycket av vätskan som möjligt. Häll upp i en glaskanna och förvara i kylskåpet.</string>
		</array>
	</dict>
	<key>Recipe25</key>
	<dict>
		<key>RecipeName</key>
		<string>Yellow Yoga</string>
		<key>ShortDescription</key>
		<string>Gurkmeja har starkt antiinflammatoriska och läkande egenskaper</string>
		<key>LongDescription</key>
		<array>
			<string>Den här smoothien har en frisk och krämig smak. Gurkmeja smakar inte mycket men ger drycken en gyllene färg och har dessutom starkt antiinflammatoriska och läkande egenskaper.</string>
			<string>För färre kalorier kan du använda en kokosmjölk med mindre fett.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa cashewnötter med vatten.</string>
			<string>Pressa juicen från en apelsin och lägg till övriga ingredienser.</string>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens. </string>
		</array>
	</dict>
	<key>Recipe26</key>
	<dict>
		<key>RecipeName</key>
		<string>Blackcurrant vanilla</string>
		<key>ShortDescription</key>
		<string>Svarta vinbär har en unik och uppfriskande smak, olik alla andra bär</string>
		<key>LongDescription</key>
		<array>
			<string>Svarta vinbär har en unik och uppfriskande smak, olik alla andra bär. De är också rika på C-vitamin och antioxidanter.</string>
			<string>Plocka vinbären direkt från trädgården och använd i den här härliga smoothien. </string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Mixa alla ingredienser på hög hastighet till krämig konsistens. </string>
		</array>
	</dict>
	<key>Recipe27</key>
	<dict>
		<key>RecipeName</key>
		<string>Tangy Rhubarb</string>
		<key>ShortDescription</key>
		<string>Det här är den perfekta sommardrinken. Lätt, syrlig och frisk</string>
		<key>LongDescription</key>
		<array>
			<string>Det här är den perfekta sommardrinken. Lätt och frisk med en oemotståndlig kombination av syrligt och sött.</string>
		</array>
		<key>Instructions</key>
		<array>
			<string>Använd en råsaftcentrifug till äpplet och rabarbern.</string>
			<string>Mixa juicen med hallon, mango och lönnsirap på hög hastighet till krämig konsistens.</string>
		</array>
	</dict>
</dict>
</plist>
